body{
    background-color: #000;
}

#outer{    
    position: relative;
    background-color: #000;
    height: 550px;
}

#inner{
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    border: 2px solid rgb(252, 243, 243);
    height: 200px;
    width: 600px;    
    background-color: #ce0000;
    border-radius: 10px;
    color: #fff;
}

h2{
    text-align: center;
}

#ipText{
    font-size: 20px;
    margin-left: 10%;
    width: 50%;
}

button{
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #720000;
    color: #fff;
}  

#opText{
    text-align: center;
    font-size: 25px;
}